.menu {
  background-color: transparent;
  border: none !important;
  font-weight: 500;
}

.menu li {
  background-color: transparent;
}

.menu li > span:first-child {
  margin-left: 2px !important;
}

.icon {
  font-size: 2rem !important;
}

@media (max-width: 48em) {
  .menu {
    justify-content: space-around;
  }

  .menu li > span:first-child {
    margin-left: 0 !important;
  }

  .menu::before,
  .menu::after {
    display: none;
  }
}
