.ant-menu-item,
.ant-menu-submenu-title {
  gap: 1.2rem;
}

.ant-menu-title-content {
  margin-inline-start: 0 !important;
}

.ant-menu-inline-collapsed-tooltip {
  display: none;
}

.ant-form-item-explain-error {
  margin-left: 3.2rem;
  font-size: 12px;
  margin-top: 2px;
}

@media (max-width: 62em) {
  .ant-menu-title-content {
    margin-inline-start: 0 !important;
  }
}
