* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-menu-title-content {
  margin-inline-start: 12px !important;
}

@media (max-width: 48em) {
  .ant-menu-title-content {
    margin-inline-start: 0 !important;
  }
}
