:root {
  --color-grey-light-1: #fafafa;
  --color-grey-dark-1: #e4e4e7;
  --color-grey-dark-2: #737373;
  --color-grey-dark-3: #71717a;
  --color-black: #27272a;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media (max-width: 48em) {
  html {
    font-size: 50%;
  }
}
